body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

.fondoHeader-Y-Footer {
  background-color: #06090e; }

.logoHeader-Y-Footer {
  height: 20vh;
  width: 15vw; }

.flexHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%; }

.header-menu {
  font-size: 20px;
  font-family: fantasy; }

.imagenPrincipal {
  height: 80vh;
  width: 100%;
  border: none; }

.SobreNosotros {
  color: #06090e;
  text-align: center;
  font-weight: 500;
  line-height: 5rem;
  font-size: 3rem;
  margin: 2%;
  font-family: fantasy; }

.parrafoSobreNosotros {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  padding: 0rem 3rem 3rem 3rem;
  line-height: 2;
  font-family: sans-serif;
  margin: 0rem; }

.fondoSobreNosotros {
  background-image: url("../images/fondosobrenosotros.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  font-family: "Oswald", sans-serif; }

.fondoTitle {
  margin: 0%;
  padding: 5% 10%;
  font-weight: bolder;
  color: white;
  font-size: 70px; }

.fondoParrafo {
  margin: 0%;
  padding: 4%;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 4rem;
  color: white;
  text-align: justify; }

.flex-menu {
  width: 100%;
  height: 100%; }

.container-menu {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.card-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.container-menu .card-menu {
  width: 330px;
  height: 40rem;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  padding: 3%;
  text-align: center;
  transition: all 0.25s; }

.container-menu .card-menu:hover {
  transform: translateY(-3%);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.container-menu .card-menu h3 {
  padding: 1rem;
  font-weight: 800;
  font-family: "Oswald", sans-serif; }

.container-menu .card-menu p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 400;
  font-family: "Segoe UI"; }

.container-menu .card-menu a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #0b1322e5; }

.title-menu-take {
  padding: 2% 3%; }

.container-menu-take {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 2% 4%; }

.div-menu-take img {
  width: 250px;
  height: 250px; }

.div-menu-take {
  width: 100%;
  display: flex;
  padding: 3% 2%; }

.flex-menu-take {
  padding-left: 3%;
  padding-bottom: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.div-precio-btn {
  display: flex;
  justify-content: space-between; }

.div-precio-btn button {
  border: 1rem;
  border-radius: 10px; }

.flexLocales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4%;
  margin-bottom: 10%;
  text-align: center;
  font-weight: bolder;
  font-family: fantasy; }

.text-locales {
  padding: 3%;
  text-align: center;
  font-size: 55px;
  font-weight: 800;
  font-family: "Oswald", sans-serif; }

.flexLocales p {
  font-weight: 300;
  padding: 3%;
  margin: 2%;
  text-align: center; }

.formulario {
  padding: 5% 2%;
  text-align: center; }

.formulario form {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-auto-rows: 10rem;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-left: 15%; }

.flexDivForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.botonEnviarFormulario {
  margin-left: 10%; }

.botonEnviarFormulario input {
  margin-right: 3%; }

.formulario label {
  display: block;
  margin-left: 1%;
  padding-bottom: 2%; }

.flexFooter {
  display: flex;
  justify-content: space-between;
  height: 100%; }

.redes-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 2rem; }

.redes-container ul {
  padding-top: 1.5rem;
  display: flex; }

.redes-container ul li {
  display: inline-block;
  margin: 0 10px;
  width: 4rem;
  text-align: center; }

.redes-container ul li a {
  display: block;
  border-radius: 1rem;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  transition: 0.2s; }

.blur:hover {
  transform: scale(1.2); }

.redes-container ul li .facebook {
  background-color: #3b5999; }

.redes-container ul li .instagram {
  background-color: #e4405f; }

.redes-container ul li .twitter {
  background-color: #55acee; }

@media screen and (max-width: 1400px) {
  .portadaMenu div h2 {
    font-size: 7rem; }
  .portadaMenu div h3 {
    font-size: 3rem; }
  .fondoSobreNosotros {
    height: 100vh;
    font-weight: bolder;
    overflow: hidden; } }

@media screen and (max-width: 1277px) {
  .formulario {
    padding: 0%; }
  .formulario form {
    padding: 0%; }
  .imagenAside {
    width: 20vw; }
  .formulario {
    padding: 5%; } }

@media screen and (max-width: 1016px) {
  body {
    width: 100%; }
  .flexHeader {
    padding-right: 10%; }
  .flexDivForm {
    width: 30vw; }
  .imagenPrincipal {
    height: 50vh; }
  .container-menu-take {
    display: flex;
    flex-direction: column;
    margin: 2% 4%; }
  .logoHeader-Y-Footer {
    height: 15vh; }
  .formulario {
    padding: 5%; }
  .portadaMenu div h2 {
    font-size: 5rem; }
  .portadaMenu div h3 {
    font-size: 2rem;
    transform: translate(50px) translateY(30px); }
  .portadaMenu img {
    width: 50vw;
    height: 50vh; }
  .containerMenu {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 775px) {
  .flexDivForm {
    width: 100%; }
  .formulario form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-bottom: 2%;
    width: 100%; }
  .botonEnviarFormulario input {
    margin-bottom: 10px; }
  .menuIndex div article {
    padding-bottom: 15%; }
  .imagenAside {
    width: 80%;
    padding-left: 30px; }
  .logoHeader-Y-Footer {
    height: 12vh;
    width: 15vw; }
  .portadaMenu img {
    width: 60vw;
    height: 30vh; } }

@media screen and (max-width: 541px) {
  .formulario form {
    display: grid;
    grid-template-columns: repeat(1, 20rem); }
  .imagenPrincipal {
    height: 30vh; }
  .div-menu-take img {
    width: 150px;
    height: 150px; }
  .logoHeader-Y-Footer {
    height: 10vh;
    width: 20vw; } }
