.fondoHeader-Y-Footer {
    background-color: #161a1d ;
  }
  
  .logoHeader-Y-Footer {
    height: 20vh;
    width: 15vw;
  }
  .flexHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
  }