.fondoHeader-Y-Footer {
  background-color: #06090e;
}

.logoHeader-Y-Footer {
  height: 20vh;
  width: 15vw;
}
.flexHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
}
.header-menu {
  font-size: 20px;
  font-family: fantasy;
}
