
@media screen and (max-width: 1085px) {
    .flexHeader {
      display: flex;
      flex-wrap: nowrap;
      padding-right: 4%;
    }
    .flexHeaderDiv {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  @media screen and (max-width: 1005px) {
    .logoHeader-Y-Footer {
      display: none;
    }
    .marginItemFooter {
      margin-left: 20%;
    }
  }
  
  @media screen and (max-width: 847px) {
    .fondoHeader-Y-Footer {
      padding: 0%;
    }
  }