@media screen and (max-width: 1277px) {
  .formulario {
    padding: 0%;
  }
  .formulario form {
    padding: 0%;
  }
  .imagenAside { width: 20vw; 
   }
}

@media screen and (max-width: 1015px) {
  body {
    width: 100%;
  }
  .flexHeader {
    padding-right: 10%;
  }

  .flexDivForm {
    width: 30vw;
  }
}
@media screen and (max-width: 775px) {
  .flexDivForm {
    width: 100%;
  }
  .formulario form {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    margin-bottom: 2%;
  }
  .botonEnviarFormulario input {
    margin-bottom: 10px;
  }
.menuIndex div article { padding-bottom: 15%;}
.imagenAside { width: 80%;
padding-left: 30px;}
}

@media screen and (max-width: 541px) {
  .formulario form {
    display: grid;
    grid-template-columns: repeat(1, 20rem);
  }
}
