.title-menu-take {
  padding: 2% 3%;
}

.container-menu-take {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 2% 4%;
}

.div-menu-take img {
  width: 250px;
  height: 250px;
}
.div-menu-take {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  display: flex;
  margin: 3% 2%;
  transition: all 0.25s;
}
.div-menu-take:hover {
  transform: translateY(-3%);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
}
.flex-menu-take {
  padding-left: 3%;
  padding-bottom: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-precio-btn {
  display: flex;
  justify-content: space-between;
}
.div-precio-btn button {
  border: 1rem;
  border-radius: 10px;
}
